<div class="details-card-page" *ngIf="characterDetails" (charSelected)="($event)">

  <div class="img-char">
    <img src="{{ characterDetails.image }}">
  </div>
  <div class="card-content">
    <div class="card-header">

      <h3 class="card-name">{{ characterDetails.name }}</h3>

      <span
        [ngClass]="{'is-alive': characterDetails.status === 'Alive', 'is-not-alive': characterDetails.status === 'Dead'}"></span>
      <span class="subtitle">{{ characterDetails.status }} - {{ characterDetails.species }}</span>
    </div>
    <div class="detail-char">
      <span class="light-text">Genere:</span>
      <span class="bold-text">{{ characterDetails.gender }}</span>
      <span class="light-text">Ultima posizione conosciuta:</span>
      <span class="bold-text">{{ characterDetails.location }}</span>
    </div>
  </div>
  <div *ngIf="episodes && episodes.length > 0">
    <ul>
      <li *ngFor="let episode of episodes">
       
        <a [routerLink]="['/episode', episode.id]" (click)="select(episode)">{{ episode.name }}</a>
 </li>
    </ul>
  </div>
  
  
  
</div>
