
<div class="main-details"> 
<div class="details-card-page" *ngIf="characterDetails" (charSelected)="($event)">

  
  <div class="img-char">
    <img src="{{ characterDetails.image }}">
  </div>
  <div class="card-content">
    <div class="card-header">

      <h3 class="card-name">{{ characterDetails.name }}</h3>

      <span
        [ngClass]="{'is-alive': characterDetails.status === 'Alive', 'is-not-alive': characterDetails.status === 'Dead'}"></span>
      <span class="subtitle">{{ characterDetails.status }} - {{ characterDetails.species }}</span>
    </div>
    <div class="detail-char">
      <div class="gender">
      <span class="light-text">Genere:  </span>
      <span class="bold-text">{{ characterDetails.gender }}</span>
    </div>
    <div class="location"> 
      <span class="light-text">Ultima posizione conosciuta:     </span>
      <span class="bold-text" *ngIf="characterDetails.location">    {{ characterDetails.location.name }}</span>
    </div>
  </div>
  </div>

  
  <div *ngIf="episodes && episodes.length > 0">

    <div class="episodes"> Episodi in cui è presente:  </div>
    <ul>
      <li *ngFor="let episode of episodes">
       
        <a [routerLink]="['/episode', episode.id]" (click)="select(episode)">{{ episode.name }}</a>
 </li>
    </ul>
  </div>
  
  
  
</div>
</div>